<% include ../partials/header %>
<% include ../partials/menu %>

<main>
  <body>
    <div class="container">
      <br/>
      <h3>Select a patient:</h3>
      <form action="/selectpatient" method="POST">
        <select id="selected_patient" name="selected_patient" class="form-control form-control-lg">
          <% allPatients.forEach(el => { %>
            <% var isSelected = ""; %>
            <% if (currPatient[0].id == el.id) { %>
              <% isSelected = "selected"; %>
            <% } %>
            <option value="<%= el.id %>" <%= isSelected %>> <%- el.legal_name %></option>
          <% }) %>
        </select>
        <br/>
        <button id="switchPatient" class="btn btn-primary" type="submit">Switch Patient</button>
      </form>
      <div class="row">
        <div class="col-sm">
          <br/>
          <h3><%- currPatient[0].legal_name %></h3>
          <br/>
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Age:</th>
                <% var diff = Math.floor(Math.abs(new Date() - Date.parse(currPatient[0].dob)) / 31536000000); %>
                <td><%- diff %></td>
              </tr>
              <tr>
                <th scope="row">Schedule:</th>
                <td>Monday - Wednesday <br/> 8 AM - 12 PM</td> <!-- TODO -->
              </tr>
              <tr>
                <th scope="row">Medication:</th>
                <td>
                  <% medications.forEach(el => { %>
                    <%- el.medication_name %>,
                    <%- el.dosage %>,
                    <%- el.frequency %>
                    <br/><br/>
                  <% }) %>
                </td>
              </tr>
              <tr>
                <th scope="row">Notes:</th>
                <td><%- currPatient[0].patient_needs %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-sm">
          <div class="container">
            <br/>
            <h3>Patient Update</h3>
            <h6>Provide an update on how <%- currPatient[0].legal_name %> is doing for their family.</h6>
            <br/>
            <form action="/patientupdate" method="POST">
                <div class="mb-3">
                    <label for="updateInput" class="form-label">Update:</label>
                    <textarea type="text" class="form-control" 
                      id="updateInput" 
                      name="updateInput" 
                      rows="6"
                      required></textarea>
                </div>
                <button id="submitButton" class="btn btn-primary" type="submit">Post Update</button>
            </form>
            <br/>
            <h4>Past updates:</h4>
            <% visits.forEach(el => { %>
              <%- el.date %> <br/>
              <%- el.notes %>
              <br/><br/>
            <% }) %>
            <br/>
          </div>
        </div>
      </div>
    </div>    
  </body>
</main>

<% include ../partials/footer %>