<%- include("../partials/header") %>
<%- include("../partials/menu") %>

<main>
  <br/>
  <div class="container">
    <div class="row">
      <div class="col">
        <!--Patient info-->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Patient Info</h5>
            <h6 style="color:gray"><%= name %></h6>
            <table class="table">
              <tbody>
                <tr>
                  <th>Date of Birth</th>
                  <td><%= dob %></td>
                </tr>
                <tr>
                  <th>Visits</th>
                  <% if (visits[0].nurse != null) { %>
                  <td><%= visits.length %></td>
                  <% } else { %>
                    <td><%= 0 %></td>
                  <% } %>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <br/><br/>
         <!--Patient Medication-->
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Medication</h5>
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Dose</th>
                  <th>Frequency</th>
                </tr>
              </thead>
              <tbody>
                <% if (medication) {%>
                  <% medication.forEach(med => { %>
                    <tr>
                      <td><%= med.name %></td>
                      <td><%= med.dose %></td>
                      <td><%= med.frequency %></td>
                    </tr>  
                  <% }) %> 
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <!--Patient Nurse Visits-->
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Nurse Visits</h5>
            <table class="table">
              <thead>
                <tr>
                  <th>Nurse</th>
                  <th>Date</th>
                  <th>Time</th>
                  <th>Notes</th>
                </tr>
              </thead>
             <tbody>
                <% if (visits[0].nurse != null) { %>
                  <% console.log(visits) %>
                  <% visits.forEach( (visit)=>{ %>
                    
                    <tr>
                      <td><%= visit.nurse %></td>
                      <td><%= visit.date.split("T")[0]; %></td>
                      <td><%= visit.date.split("T")[1].split(".")[0]; %></td>
                      <td><%= visit.notes %></td>
                    </tr>  
                  <% }) %> 
                <% } %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>



  </div>
</main>

<%- include("../partials/footer") %>
